@{
    ViewBag.Title = "Home Page";
}

<div style="padding: 30px"></div>

<div class="jumbotron">
    <h1>Engineering Economics</h1>
    <p class="lead">An interactive website to define and demostrate some of the terms and formulas used today in Business Economics</p>
</div>

<div class="row">
    
</div>